/* ::-webkit-scrollbar {
	background-color: blue;
}

::-webkit-scrollbar-thumb{
	background-color: white;
}
 */

* {
	margin: 0;
	scroll-behavior: smooth;
	padding: 0;
}

body {
	font-family: Afacad Flux;
	font-optical-sizing: auto;
	font-style: normal;
	background-attachment: fixed;
	background-image: url(./../image/bg.jpg);
	background-size: 100%;
	backdrop-filter: blur(2px);
}

.container{
	display: flex;
	justify-content: center;align-items: center;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
}

.container header {
	z-index: 1;
	width: 93%;
	margin:20px 0 ;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
}

.container header .links {
	margin-left: 300px;
}

.container header .links a {
	position: relative;
	font-size: 1.3rem;
	margin: 0 7px;
	text-transform: capitalize;
	text-decoration: none;
	color: black;
	padding: 7px 3px;
}

.container header .links a::before {
	position: absolute;
	bottom: 0px;
	content: "";
	width: 0;
	left: 50%;
	transform: translateX(-50%);
	transition-timing-function: ease-in-out;
	height: 3px;
	background-color: black;
	transition-duration: 0.3s;
}

.container header .links a:hover::before {
	width: 100%;
}

.container header #message{
	background-color: orangered;
	color: white;
	text-decoration: none;
	border: none;
	transition:0.5s ;
	padding: 7px 13px;
	font-size: 1.3rem;
}

.container header #message:hover {
	background-color: rgb(206, 55, 0);
}

.container header .search {
	background-color: white;
	display: flex;
	width: 17%;
	padding: 8px 8px 8px 19px;
	border-radius: 7px;
	border: 1px solid rgb(64, 56, 56);
	margin-left: 90px;
	align-items: center;
}

/* this part is for gallery  */
.container header .search input {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 1.1rem;
	border-right: 2px solid black;
	outline: none;
}

.container header .search ion-icon {
	color: black;
	font-size: 1.7rem;
	transition-duration: 0.3s;
	padding: 0 5px;
}

.container header .search ion-icon:hover {
	transform: scale(1.2);
}

.container header img {
	height: 80px;
	width: 80px;
	transform: rotate(120deg);
	transition-duration: 1s;
	animation: ani 100s infinite linear;
}
/* 
@keyframes ani {
    0% {
        transform: rotate(1deg);
    }  100% {
        transform: rotate(5000deg);
    }
} */

/* this is the home part  */
.container .home {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 8% 6%;
	gap: 90px;

	align-items: center;
}

.container img {
	width: 450px;
	height: 390px;
}

.container .home .homeText h1 {
	color: orangered;
	font-size: 2.7rem;
}

.container .home .homeText p {
	margin: 10px 0;
	font-size: 1.4rem;
	text-align: justify;
}

/* this is the plant information section  */
.container .planetSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 2% 4%;
}

.container .planetSection .planet {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	overflow: hidden;
	width: 200px;
	height: 250px;
	padding: 1% 2%;
	border: none;
	margin: 20px;
	transition-duration: 0.3s;
}

.container .planetSection .planet:hover {
	background-color: rgb(85, 85, 85);
	cursor: pointer;
}

.container .planetSection .planetInformation{
	position: absolute;
	bottom: -200px;
	transition: ease-in-out;
	transition-duration: 0.5s;
}

.container .planetSection .planetInformation p{
	color: white;
	font-size: 1.1rem;
}


.container .planetSection .planet:hover > .planetInformation {
	bottom:70px;
}


.container .planetSection .planetInformation a {
	text-decoration: none;
	padding: 4px 5px;
	font-size: 1.1rem;
	background-color: orangered;
	color: white;
	border: none;
	border-radius: 5px;
}

.container .planetSection .planet img {
	mix-blend-mode: multiply;
	height: 200px;
	width: 200px;
}

/* this part belongs to the frequently asked .question */

.container .faqSection {
	padding: 40px 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: white;
}

.container .faqSection h1 {
	color: orangered;
	padding-bottom: 60px;
	font-size: 2.7rem;
	text-transform: capitalize;
}

.container .faqSection .faqMain {
	columns: 2;
	gap: 0 400px;
}

.container .faqSection .faqMain .faqDiv{
	gap: 10px;
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	margin-bottom: 10px;
}

.container .faqSection .faqMain .faqDiv .question {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	width: 100%;
	align-items: center;
	
}

.container .faqSection .faqMain .faqDiv .question p {
	font-size: 1.3rem;
}


.container .faqSection .faqMain .faqDiv .question  ion-icon{
	font-size: 1.4rem;
	padding: 8px;
	background-color: rgb(189, 189, 189);
	border-radius: 50%;

}

.container .faqSection .faqMain .faqDiv .answer {
	width: 100%;
	word-wrap: break-word;
	max-height: 0;
	overflow: hidden;
}

.container .faqSection .faqMain .faqDiv .answer a {
	padding: 8px 13px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	color: white;
	background-image: linear-gradient(45deg , rgb(29, 29, 29) ,green );
}
.container .faqSection .faqMain .faqDiv .answer p {
	text-align: justify;
	font-size: 1.3rem;
	
}

.container .faqSection .faqMain .faqDiv .answer.visible {
	max-height: 100px;
}

.container .contact_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 40px 0;
}

.container .contact_section h1{
	color: orangered;
	font-size: 2.7rem;
	text-align: center;

}

.container .contact_section .contact_div {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 63%;
	background-color: rgb(228, 228, 228);
}

.container .contact_section .contact_div .contact_image img{
	height: 500px;
	width: 500px;
}

.container .contact_section .contact_div .contact_form {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.container .contact_section .contact_div .contact_form div{
	position: relative;
	width: 50%;
	height: 40px;
	display: flex;
	align-items: center;

}

.container .contact_section .contact_div .contact_form div label {
	position: absolute;
	pointer-events: none;
	left: 16px;
	transition: 0.5s;
}

.container .contact_section .contact_div .contact_form div input {
	height: 100%;
	padding: 0 16px;
	position: relative;
	width: 100%;
	outline: none;
	border: none;
}

.container .contact_section .contact_div .contact_form div input:focus ~ label , 
.container .contact_section .contact_div .contact_form div input:valid ~ label {
	transform: translateY(-20px);	
}